*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: purple;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper{
        background-color: white;
        height: 30rem;
        width: 30rem;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        form{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            input{
                padding: 1rem;
            }
        }
    }
}